
<header class="header">
  <!-- Logo centralizada com texto -->
  <div class="logotipo">
    <img class="logo-img" src="https://i.pinimg.com/736x/e7/2f/b4/e72fb408d76d9d449e87b438f007cfac.jpg" alt="Logo" />
    <span class="logo-text">eriCare</span>
  </div>
  

  <!-- Perfil à direita -->
  <div class="profile">
    <button class="profile-btn" title="perfil">
      <div class="profile">
        <img src="https://i.pinimg.com/736x/3c/bd/86/3cbd86e0fab831190029fee0ea5bb882.jpg" alt="Foto de Perfil" />
      </div>
    </button>
  </div>
</header>
