<header class="header">
<!--Botão do menu-->
 <button class="menu-botao" (click)="toggleMenu()" [class.open]="menuOpen">
    <span></span>
    <span></span>
    <span></span>
 </button>
    <!--Logo-->
    <a class="logo" routerLink="/menu-principal">GeriCare</a>

    <!--perfil a direita-->
    <div class="profile">
        <button class="profile-btn" title="perfil">
            <div class="profile">
  <img src="https://i.pinimg.com/736x/3c/bd/86/3cbd86e0fab831190029fee0ea5bb882.jpg" alt="Foto de Perfil" />
</div>

        </button>
    </div>
</header>

<!-- Overlay escura ao abrir o menu -->
<div class="overlay" *ngIf="menuOpen" (click)="closeMenu()"></div>

<!-- Menu lateral -->
<aside class="side-menu" [class.open]="menuOpen">
  <nav>
    <a routerLink="/idosos">Idosos Cadastrados</a>
    <a routerLink="/medicamentos">Medicamentos</a>
    <a routerLink="/relatorios">Relatórios</a>
    <a routerLink="/configuracoes">Configurações</a>
    <a routerLink="/sobre">Sobre</a>
  </nav>
</aside>